<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <i class="fas fa-plus-circle fa-main-props" title="Create New Project" v-on:click="onProjectCreate"></i>
                </div>
                <div v-for="(project, projectIndex) in projects">
                    <project-block 
                        v-on:on-task-priority="onProjectPriority(projectIndex)" 
                        v-on:on-project-view="onProjectView(projectIndex)"
                        v-on:on-project-delete="onProjectDelete(projectIndex)" 
                        v-bind:name="project.name"
                        v-bind:created="project.created">
                    </project-block>
                    <div v-if="project.selected">
                        <div v-for="(task, taskIndex) in project.tasks">
                            <task-block
                                v-bind:name="task.name"
                                v-bind:created="task.created"
                                v-bind:status="task.status"
                                v-on:on-task-priority="onTaskPriority(projectIndex, taskIndex)">
                            </task-block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>

    <script src="https://kit.fontawesome.com/2cc5536f83.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>

</html>

<script>
    $(function () {

        Vue.component("task-block", {
            props: ["name", "created", "status"],
            template: `
                <div class="card custom-card" v-bind:style="{'background-color' : status.color}">
                    <div class="card-body">
                        <small>{{created}}</small>
                        <div><b>{{name}}</b></div>
                        <div class="text-right">
                            <button class="custom-button">
                                <i class="fas fa-bell fa-secondary-props" title="Priority" v-on:click="$emit('on-task-priority')"></i>
                            </button>
                        </div>
                    </div>
                </div>
            `
        });

        Vue.component("project-block", {
            props: ["name", "created"],
            template: `
                <div class="card">
                    <div class="card-body custom-project-block">
                        <small>{{created}}</small>
                        <div><b>{{name}}</b></div>
                        <div class="text-right">
                        <button class="custom-button">
                            <i class="fas fa-eye fa-secondary-props" title="View" v-on:click="$emit('on-project-view')"></i>
                        </button>
                        <button class="custom-button">
                            <i class="fas fa-edit fa-secondary-props" title="Edit"></i>
                        </button>
                        <button class="custom-button">
                            <i class="fas fa-trash-alt fa-secondary-props" title="Delete" v-on:click="$emit('on-project-delete')"></i>
                        </button>
                        </div>
                    </div>
                </div>
            `
        });

        var app = new Vue({
            el: '#app',
            data: {
                userId: "",
                projects: [{
                    created: "2019-10-17",
                    name: "Deadline Day To Do",
                    selected: false,
                    tasks: [{
                        created: "2019-10-17",
                        name: "DDTD Task",
                        completed: false,
                        rename: false,
                        status: {
                            level: "none",
                            color: "#bfbfbf"
                        }
                    },
                    {
                        created: "2019-10-17",
                        name: "DDTD Task 2",
                        completed: false,
                        rename: false,
                        status: {
                            level: "none",
                            color: "#bfbfbf"
                        }
                    }]
                },
                {
                    created: "2019-11-17",
                    name: "Sample Project 2",
                    selected: false,
                    tasks: [{
                        created: "2019-11-17",
                        name: "Sample Task 2",
                        completed: false,
                        status: {
                            level: "none",
                            color: "#bfbfbf"
                        }
                    }]
                }
                ]
            },
            methods: {
                onProjectCreate: function () {
                    var sampleProject = {
                        created: "2019-11-23",
                        name: "Sample Project",
                        selected: false,
                        rename: true,
                        priority: {
                            level: 1,
                            color: "#bfbfbf"
                        }
                    }

                    this.projects.push(sampleProject);
                },
                onProjectView: function (projId) {
                    for (var i = 0; i < this.projects.length; i++) {
                        this.projects[i].selected = i === projId ? true : false;
                    }
                },
                onProjectDelete: function (projId) {
                    this.projects.splice(projId, 1)
                },
                onProjectPriority: function (projId) {
                    var project = this.projects[projId];
                    switch (project.priority.level) {
                        case "none":
                            project.priority.level = "busy";
                            project.priority.color = "#00b339";
                            break;
                        case "busy":
                            project.priority.level = "done";
                            project.priority.color = "#ffcc00";
                            break;
                        case "done":
                            project.priority.level = "none";
                            project.priority.color = "#bfbfbf";
                            break;
                    }
                },
                onDeleteTask: function (projId, taskId) {
                    var proj = this.projects[projId];
                    proj.tasks.splice(taskId, 1);
                },
                onTaskComplete: function (projId, taskId) {
                    var proj = this.projects[projId];
                    var task = proj.tasks[taskId];
                    task.completed = task.completed ? false : true
                },
                onTaskPriority: function (projId, taskId) {
                    var proj = this.projects[projId];
                    var task = proj.tasks[taskId];
                    switch(task.status.level){
                        case "none": 
                            task.status.level = "busy";
                            task.status.color = "#00b339";
                            break;
                        case "busy":
                            task.status.level = "done";
                            task.status.color = "#ffcc00";
                            break;
                        case "done":
                            task.status.level = "none";
                            task.status.color = "#bfbfbf";
                            break;
                    }
                }
            }
        });
    });
</script>

<style>
    .custom-button {
        background-color: transparent;
        border: none;
    }
    .custom-project-block{
        background-color: #f2f2f2;
        color: #262626;
    }
    .custom-button:focus {
        outline: 0;
    }

    .custom-card {
        color: white;
    }

    .fa-main-props {
        color: lightgrey;
        cursor: pointer;
        font-size: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .fa-secondary-props {
        color: #595959;
        cursor: pointer;
        font-size: 20px;
        padding: 4px 4px 4px 4px;
    }
</style>