<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div id="app" class="container">
        <div class=""></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center create-new-block">
                    <i class="fas fa-plus-circle fa-main-props" v-on:click="onProjectCreate"></i>
                    <div>
                        <small>Create a new project</small>
                    </div>
                </div>
                <div v-for="(project, projectIndex) in projects">
                    <div class="card project-block">
                        <div class="card-body custom-project-block">
                            <project-block
                                v-on:on-task-priority="onProjectPriority(projectIndex)" 
                                v-on:on-project-view="onProjectView(projectIndex)"
                                v-on:on-project-task-create="onProjectTaskCreate(projectIndex)"
                                v-on:on-project-delete="onProjectDelete(projectIndex)" 
                                v-on:on-project-rename="onProjectRename(projectIndex)"
                                v-bind:name="project.name"
                                v-bind:created="project.created"
                                v-bind:state="project.state"
                                v-bind:proj_index="projectIndex">
                            </project-block>
                            <div v-if="project.selected">
                                <div v-for="(task, taskIndex) in project.tasks">
                                    <div class="card-body custom-task-block" v-bind:style="{'background-color' : task.status.color}">
                                        <task-block
                                            v-bind:name="task.name"
                                            v-bind:index="taskIndex"
                                            v-bind:state="task.state"
                                            v-bind:created="task.created"
                                            v-bind:status="task.status"
                                            v-bind:task_index="taskIndex"
                                            v-bind:proj_index="projectIndex"
                                            v-on:on-project-task-rename="onProjectTaskRename(projectIndex, taskIndex)"
                                            v-on:on-task-priority="onTaskPriority(projectIndex, taskIndex)">
                                        </task-block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    </div>

    </div>

    <script src="https://kit.fontawesome.com/2cc5536f83.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>

</html>

<script>
    $(function () {

        Vue.component("task-block", {
            props: ["proj_index", "task_index", "name", "created", "status", "state"],
            template: `
                <div>
                        <div class="form-group text-right">
                            <p><small>{{created}}</small></p>
                            <p><small><b>{{status.level}}</b></small></p>
                            <div>
                                <input :id="['t_inp_' + task_index]" type="text" class="form-control" v-bind:value="name" />
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-success" title="Change Status" v-on:click="onTaskStatus(proj_index, task_index)">
                                <i class="fas fa-angle-double-right"></i>
                            </button>
                            <button class="btn btn-danger" title="Delete Task" v-on:click="onTaskDelete(proj_index, task_index)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                </div>
            `,
            methods: {
                onTaskDelete: function(projIndex, taskIndex) {
                    var project = this.$root.$data.projects[projIndex];
                    project.tasks.splice(taskIndex, 1);
                },
                onTaskStatus: function(projIndex, taskIndex){
                    debugger
                    var project = this.$root.$data.projects[projIndex];
                    var task = project.tasks[taskIndex];
                    
                    switch(task.status.level){
                        case "Not Started": 
                            task.status.level = "Started";
                            task.status.color = "#FFFF66";
                            break;
                        case "Started":
                            task.status.level = "Completed";
                            task.status.color = "#66FF66";
                            break;
                        case "Completed":
                            task.status.level = "Not Started";
                            task.status.color = "#3399FF";
                            break;
                    }
                }
            }
            
        });

        Vue.component("project-block", {
            props: ["proj_index", "name", "created", "state"],
            template: `
                    <div>
                        <div class="form-group text-right">
                            <p><small>{{created}}</small></p>
                            <input :id="['p_inp_' + proj_index]" ref="input" class="form-control form-control-sm" v-bind:value="name"/>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary" title="View Tasks" v-on:click="onProjectView(proj_index)">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button class="btn btn-success" title="Add Task" v-on:click="onProjectTaskAdd(proj_index)">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                            <button class="btn btn-danger" title="Delete Project" v-on:click="onProjectDelete(proj_index)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
            `,
            methods: {
                onInputBlur: function(e){
                    var element = e.data.element;
                    if($(element).val() === ""){
                        $(element).val("No Project Name Entered");
                    }
                    var projId = element.id.substring(element.id.lastIndexOf('_') + 1);
                    var project = this.$root.$data.projects[parseInt(projId)];
                    project.name = $(element).val();
                },
                onProjectDelete: function(projIndex){
                    var projects = this.$root.$data.projects;
                    projects.splice(projIndex, 1);
                },
                onProjectTaskAdd: function(projIndex){
                    var project = this.$root.$data.projects[projIndex];
                    project.selected = true;
                    var task = {
                        created: new Date().toDateString(),
                        name: "",
                        status:{
                            level: "Not Started",
                            color: "#3399FF"
                        }
                    }
                    project.tasks.push(task);
                },
                onProjectView: function(projIndex){
                    var project = this.$root.$data.projects[projIndex];
                    project.selected = project.selected ? false : true;
                }
            },
            mounted(){
                var element = this.$refs.input;
                $(element).focus();
                $(element).bind('blur', {element: element}, this.onInputBlur);
            }
        });

        var app = new Vue({
            el: '#app',
            data: {
                userId: "",
                projects: []
            },
            methods: {
                onProjectCreate: function () {
                    var project = {
                        created: new Date().toDateString(),
                        name: "",
                        state: "rename",
                        selected: true,
                        tasks:[]
                    }

                    this.projects.push(project);
                }
            }
        });
    });
</script>

<style>
    .project-block{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .create-new-block{
        padding-top: 15px;
        padding-bottom: 15px;
        color: lightgrey;
    }

    .custom-button {
        background-color: transparent;
        border: none;
    }
    .custom-project-block{
        background-color: #f2f2f2;
        color: #262626;
    }
    .custom-task-block{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .custom-button:focus {
        outline: 0;
    }

    .custom-card {
        color: white;
    }

    .fa-main-props {
        cursor: pointer;
        font-size: 50px;
    }

    .fa-secondary-props {
        color: #595959;
        cursor: pointer;
        font-size: 20px;
        padding: 4px 4px 4px 4px;
    }

    /* .custom-input{
        border: none;
        font-size: 20px;
        background-color: transparent;
    }
    .custom-input:focus{
        outline: 0;
    } */
</style>